body {
    background: grey;
    font-family: arial,sans-serif;
    overflow-x: hidden;
}

.fullscreen {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
}

.fullscreen:hover {
    background-color: #888;
}

.fullscreen:active {
    background-color: #444;
}


.searchbox {
    position: fixed;
    width: 2.5rem;
    max-height: 2.5rem;
    left: calc(50vw - 1rem);
    top: 3.5rem;
    overflow: hidden;
    z-index: 3;
    padding: 0;
    transition: width 0.5s linear 1s, max-height 1s ease-out 0s, left 0.5s linear 1s, border-radius 0.1s linear 1.5s, box-shadow 1.5s linear 0s;
    background-image: url('/static/GetBooks/compass.svg');
    background-repeat: no-repeat;
    background-size: 2.5rem 2.5rem;
    background-color: #DDDDDD;
    border-radius: 50%;
    border: 0;
}

.pinnedsearchbox {
    position: fixed;
    top: 3.5rem;
    z-index: 3;
    padding: 0;
}

.searchbox:hover, .searchbox.pinnedsearchbox {
    width: 95%;
    left: 2.5%;
    transition-delay: 0s;
    transition-duration: 0s;
    background-image: none;
    box-shadow: 0px 0px 30px -7px black;
    border-radius: 0;
    border: 2px solid black;
    overflow: visible;
    max-height: 85vh;
}

.searchbox:hover div, .pinnedsearchbox div {
    overflow: visible;
}


.toprow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchstyler {
    border-radius: 50%;
    background: white;
    padding: 0.1rem;
    margin-left: -1.6rem;
    cursor: pointer;
}

#srchbox {
    align-self: center;
}

.searchstyler:hover {
    background-color: #ddd;
}


.linknav {
    display: grid;
    grid-template-columns: 3rem calc(100% - 6rem) 3rem;
    height: 2.5rem;
    overflow: auto;
    text-align: center;
    margin-bottom: 0.2rem;
}

.lastbutcont {
    grid-column: 1 /span 1;
}

.lastbut {
    position: sticky;
    top: 0.2rem;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    padding: 0.1rem;
    cursor: pointer;
}

.nextbutcont {
    grid-column: 3 /span 1;
}

.nextbut {
    position: sticky;
    float: right;
    top: 0.2rem;
    margin-right: 1rem;
    padding: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.nextbut:hover,.lastbut:hover {
    background-color: #888;
}

.nextbut:focus,.nextbut:active,.lastbut:focus,.lastbut:active {
    background-color: #333;
}

#fullsearchhitlist {
    grid-column: 2 /span 1;
    font-size: small;
    line-height: 2rem;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

#fullsearchhitlist a {
    color: blue;
    margin-right: 0.5rem;
    text-decoration: none;
}

.hitlinkstyle {
    margin-top: 0.2rem;
    margin: auto;
    color: blue;
    cursor: pointer;
}

.botpage {
    background: grey;
    overflow: auto;
}

.tmphit {
    background-color: yellow;
}

.pagecontainer {
    display: grid;
    width: 100%;
    grid-template-columns: 58% 40%;
    grid-column-gap: 2%;
    margin-top: 4rem;
}

.pagecontainerFullImg {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    margin-top: 4rem;
}

.pagecontainerFullImg div {
    display: none;
}

.ocrcontainer {
    position: relative;
    background: white;
    grid-column: 2 /span 1;
    grid-row: 1 /span 1;
    border: 1px solid black;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.ocrpage {
    position: sticky;
    top: 7rem;
    font-size: small;
    text-align: justify;
    overflow-wrap: anywhere;
    overflow: hidden;
    min-height: 350px;
}

.svgpage {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: lightgrey;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 100 150'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='darkgrey' stroke-width='6' r='25'/%3E%3Ccircle cx='50' cy='50' fill='none' stroke='steelblue' stroke-width='6' r='25' stroke-dasharray='40px 200px'%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='3s' begin='0s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E");
    background-size: 200px 200px;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

.imgpage {
    width: 100%;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    top: 7rem;
    position: sticky;
    margin-left: 0.5rem;
}

div .fuzzysugslink {
    display: block;
    color: black;
    margin: 0px auto;
    padding: 0.3rem;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid grey;
    overflow-wrap: anywhere;
}

.fuzzysugslink mark {
    color: black;
    background-color: yellow;
    margin: 0;
    padding: 0;
}

mark {
    color: black;
    background: yellow;
}

div .fuzzysugslink:hover {
    color: black;
    text-decoration: none;
    text-align: left;
    background-color: #ddd;
}

nav a.about 
{ 
    float: left; 
    visibility: hidden;
    margin-left: 0.5rem;
}

nav:hover a.about, nav.searchbox.pinnedsearchbox a.about
{
    float: left;
    visibility: visible;
}

nav img:hover {
    background-color: grey;
}


nav span.bibliostyle {
    display: block;
    padding-top: 0.2rem;
    font-size: small;
    color: green;
    overflow-wrap: anywhere;
    overflow: auto;
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */
}

