[Unit]
Description=Proxy server to handle api requests

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/clas-digital-devel
ExecStart=/etc/clas-digital-devel/clas-digital.o 9992
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
