*.swp
*.bin
*.exe
*.jpg
*.json
*.o
zotero.json
build/*
doc/*
web/books/*
web/catalogue/*
bin/*
compile_commands.json
server.config
.clangd/*
.cache/*
src/search/tests/test_books_2/
src/search/tests/test_books/UEHEJINT/intern
