*.swp
*.bin
*.exe
*.jpg
*.json
*.o
zotero.json
build/*
doc/*
web/books/*
web/catalogue/*
bin/*
compile_commands.json
server.config
.clangd/*
.cache/*
src/search/tests/example_data/ocr_data/test_books/UEHEJINT/intern
src/search/tests/example_data/wiki_data/test_books/*
*intern

BSBDownLoadFertig_noOCR.txt
gibtEsBeiBSB_OCR.txt
gibtEsBeiBSB_noOCR.txt
tierwissen_noOCR.txt
untracked_books.txt
