{
  "port": 4848,
  "upload_points": ["src/search/tests/example_data/ocr_data/test_books"],
  "dictionary":"web/dict.json",
  "search_data":"search_data/ocr_data.db",
  "metadata":"src/search/tests/example_data/ocr_data/metadata.json",
  "parse_config":{
  "searchableTags":{
        "title":{
          "tags_or":["data/bookTitle", "data/title", "data/shortTitle"],
          "relevance":2
        },
        "authorsFirstNames": {
          "tag":"data/creators?creatorType=author/firstName",
          "relevance":2
        },
        "authorsLastNames": {
          "tags_or": ["data/creators?creatorType=author/lastName", "data/creators?creatorType=author/name"],
          "relevance":2
        },
        "date": {
          "tag":"data/date",
          "relevance":2
        },
        "key": {
          "tags_or": ["key", "data/key"],
          "relevance":1
        },
        "collections": {
          "tag":"data/collections",
          "relevance":0
        },
        "rights": {
          "tag":"data/rights",
          "relevance":0
        },
        "bibliography": {
          "tag": "bib",
          "relevance":2
        }
    },
    "representations": {
        "editors": {"join":["editorsLastNames", "editorsFirstNames"], "separator":", "},
        "authors": {"join":["authorsLastNames", "authorsFirstNames"], "separator":", "},
        "description": {"build":{"get":{"field":"authorsLastNames", "index":0}, "string":", ", "tag":"date"}}
    },
    "regex": {
      "date": [".*(\\d{4}).*", ".*(\\d{3})"]
    }
  }
}
