html {
	width: 100%;
	overflow-x: hidden;
}

ol {
	margin-left: 10%;
	width: 80%;
}


ul {
	margin-left: 10%;
	width: 80%;
}


li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  min-height: 5%;
  margin-top: 1.6rem;
}
 
li a {
  text-decoration: none;

  color: #007bff;

  display: block;
  overflow: hidden;
}

.metadata {
	font-size: small;
	text-color: grey;
}


.searchable_item a:hover {
    text-decoration: underline;
}

header {
	text-align: center;
	border-bottom: 1px solid grey;
	padding-bottom: 1rem;
}

.progress {
	margin-top: 0.5rem;
	display: block;
	background: white;
	text-align: center;
}

.progress progress {
	height: 2rem;
	width: 15rem;
}

.progresValue {
    position:absolute;
    right:0;
    left:0;
}

li a span.bookhasocr {
    color: #a25900;
    text-decoration: none;
    padding-right: 0.5rem;
}
