
body{
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Ubuntu, sans-serif;
}

ul {
  counter-reset: index;  
  padding: 0;
  padding-left: 4em;
  padding-right: 4em;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, black, black); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

a {
color: grey;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}


