html {
	width: 100%;
	overflow-x: hidden;
}

.metadata {
	font-size: small;
	text-color: grey;
}


.searchable_item a:hover {
    text-decoration: underline;
}

article.main {
	padding-bottom: 1rem;
}

article.main ol {
    text-align: left;
    margin-top: 1rem;
}

article.main ol li {
    font-size: large;
}

article.main ol:before {
	border-bottom: 1px solid grey;
	content: "";
}


/*
header ol li:last-child:after {
    display: inline-block;
    content: "";
}*/

.progress {
	margin-top: 0.5rem;
	display: block;
	background: white;
	text-align: center;
}

.progress progress {
	height: 2rem;
	width: 15rem;
}

.progresValue {
    position:absolute;
    right:0;
    left:0;
}

.searchprogress {
    display: none;
}

li a span.bookhasocr {
    color: #a25900;
    text-decoration: none;
    padding-right: 0.5rem;
}
