<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="shortcut icon" href="/static/fav/hand-top-right-16+32+48.ico"/>
        <title> {{ title }} - Cultural and Literary Animal Studies </title>

		<link rel="canonical" href="https://www.clas-digital.uni-frankfurt.de/books/{{ key }}"/>

		<link rel="stylesheet" type="text/css" href="/static/books.css"/>
        <link rel="stylesheet" type="text/css" href="/style/metadata.css"/>
        <link rel="stylesheet" type="text/css" href="/topnav.css"/>
        <script src="/user.js"></script>

    </head>

	<body itemscope itemtype="http://schema.org/Book">
	    {% include "template_navbar.html" %}

        <div class="metadata">
            <nav id='booklcontentlink' aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Clas Digital</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/books/">Books</a></li>
			<li class="breadcrumb-item active booktitle">{{ title }}</li>
                    </ol>
                    {% for author in authors %}
                        {% if author.isAuthor %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Clas Digital</a></li>
                            <li class="breadcrumb-item"><a href="/catalogue/">Catalogue</a></li>
                            <li class="breadcrumb-item"><a href="/catalogue/authors/">Authors</a></li>

                            <li class="breadcrumb-item"><a href="/catalogue/authors/{{ author.key }}/">{{author.name}}</a></li>
			<li class="breadcrumb-item active booktitle">{{ title }}</li>
                        </ol>
                        {% endif %}
                    {% endfor %}
                    {% if hasDate %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Clas Digital</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/years/">Years</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/years/{{ date }}/">{{ date }}</a></li>
			<li class="breadcrumb-item active booktitle">{{ title }}</li>
                    </ol>
                    {% endif %}

                    {% for collection in collections %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Clas Digital</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/collection/">Collections</a></li>
                        <li class="breadcrumb-item"><a href="/catalogue/collections/{{ collection.key }}/">{{ collection.name }}</a></li>
			<li class="breadcrumb-item active booktitle">{{ title }}</li>
                    </ol>
                    {% endfor %}
            </nav>

	    <article class="main">
		<h1> {{ show }} </h1>
		{% if hasContent %}
		<li><a href="/books/{{ key }}/pages" rel="search">Pages in this book</a></li>
		{% endif %}

		<section>
		    <dl>
			<table>
			    <tr>
				<td><dt id="itemType"><b>Item Type:</b></td>
				<td><dd>{{ itemType }}</dd></td>
			    </tr>

			    <tr>
				<td><dt id="title"><b>Title:</b></dt></td>
				<td><dd itemprop="name"> {{ title }}</dd></td>
			    </tr>

			    <tr>
				<td><dt id='author'><b>Author:</b></dt></td>
				<td><dd itemprop="author" itemscope itemtype="http://schema.org/Person">
				    <span itemprop="name">
					<ul>
					    {% for author in authors %}
					    <li itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span> ({{author.type}})</li>
					    {% endfor %}
					</ul>
				    </span>
				    </dd></td>
			    </tr>

			    <tr>
				<td><dt id="place"><b>Place:</b></dt></td>
				<td><dd itemscope itemtype="http://schema.org/Place">
				    <span itemprop="name">
					{{ place }}
				    </span>
				    </dd></td>
			    </tr>

			    <tr>
				<td><dt id="date"><b>Date:</b> </dt></td>
				<td><dd itemprop="datePublished">
				    {{ date }}
				    </dd></td>
			    </tr>

			    {% if hasISBN %}
			    <tr>
				<td><dt id="isbn"><b>ISBN:</b></dt></td>
				<td><dd itemprop="isbn">
				    {{ isbn }}
				    </dd></td>
			    </tr>
			    {% endif %}

			    <tr>
				<td><dt id="bib"><b>Bibliography: </b></dt></td>
				<td><dd>{{ bib }}</dd></td>
			    </tr>
			    <tr>
				<td><dt id="own_bib"><b>Own created bibliography: </b></dt></td>
				<td><dd>{{ bib_own }}</dd></td>
			    </tr>

			</table>

		    </dl>
		</section>
	    </article>
        </div>
	</body>
</html>

