[Unit]
Description=Proxy server to handle api requests

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/clas-digital
ExecStart=/etc/clas-digital/clas-digital.o
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
