body {
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: grey;
}

.topnav {
    width: 100%;
    padding-top: 1rem;
    grid-row: 1 /span 1;
    overflow: auto;
    background: white;
    border-bottom: 2px solid black;
}

.botpage {
    background: grey;
    margin-left: 17px;
    padding: 0.5rem;
    width: calc(100% - 2rem);
    overflow: auto;
    grid-row: 2 /span 1;
}

.pagecontainer {
    display: grid;
    width: 100%;
    grid-template-columns: 58% 40%;
    grid-column-gap: 2%;
    margin-top: 4rem;
}

.ocrcontainer {
    background: white;
    grid-column: 2 /span 1;
    grid-row: 1 /span 1;
    border: 1px solid black;
    padding: 2.5rem;
}

.ocrpage {
    position: sticky;
    top: 1rem;
    font-size: small;
    text-align: justify;
    min-height: 350px;
}

.svgpage {
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

.imgpage {
    width: 100%;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}
