body {
    background: grey;
    padding: 0.5rem;
    font-family: arial,sans-serif;
}

.searchbox {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 4rem;
    min-height: 2rem;
    z-index: 3;
    background: white;
}

.searchstyler {
    border-radius: 50%;
    background: white;
    padding: 0.1rem;
    margin-left: -1.6rem;
    cursor: pointer;
}

.searchstyler:hover {
    background-color: #ddd;
}

.topnav {
    left: 0;
    position: fixed;
    height: 2rem;
    min-height: 2rem;
    top: 4rem;
    width: 100%;
    overflow: auto;
    z-index: 2;
    background: white;
    overflow-y: scroll;
}

.resizer {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 6rem;
    width: 100%;
    height: 5px;
    background-color: #00618F;
    cursor: s-resize;
}

.topnav button {
    background: white;
    border: 0;
}

.topnav button:hover {
    background: linear-gradient(to top, rgba(0,0,255,0.3),rgba(0,0,255,0));
}

.linknav {
    display: grid;
    grid-template-columns: 7% 86% 7%;
}

.lastbutcont {
    grid-column: 1 /span 1;
}

.lastbut {
    position: sticky;
    top: 0.2rem;
    margin-left: 1rem;
    padding: 0.1rem;
    cursor: pointer;
}

.nextbutcont {
    grid-column: 3 /span 1;
}

.nextbut {
    position: sticky;
    top: 0.2rem;
    margin: auto;
    padding: 0.1rem;
    cursor: pointer;
}

#fullsearchhitlist {
    grid-column: 2 /span 1;
    font-size: small;
    line-height: 2rem;
    overflow-wrap: break-word;
}

#fullsearchhitlist a {
    color: blue;
    text-decoration: none;
}

.hitlinkstyle {
    margin-top: 0.2rem;
    margin: auto;
    color: blue;
    cursor: pointer;
}

.botpage {
    background: grey;
    overflow: auto;
}

.bibliostyle {
    display: block;
    padding-top: 0.2rem;
    font-size: small;
    color: green;
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */
}

.pagecontainer {
    display: grid;
    width: 100%;
    grid-template-columns: 58% 40%;
    grid-column-gap: 2%;
    margin-top: 4rem;
}

.ocrcontainer {
    position: relative;
    background: white;
    grid-column: 2 /span 1;
    grid-row: 1 /span 1;
    border: 1px solid black;
    padding: 2.5rem;
}

.ocrpage {
    position: sticky;
    top: 7rem;
    font-size: small;
    text-align: justify;
    min-height: 350px;
}

.svgpage {
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

.imgpage {
    width: 100%;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    top: 7rem;
    position: sticky;
}

div .fuzzysugslink {
    display: block;
    color: black;
    margin: 0px auto;
    padding: 0.3rem;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.fuzzysugslink mark {
    color: black;
    background: yellow;
    margin: 0;
    padding: 0;
}

mark {
    color: black;
    background: yellow;
}

div .fuzzysugslink:hover {
    color: black;
    text-decoration: none;
    text-align: left;
    background-color: #ddd;
}
