
html {
    margin:0;
}

mark {
	font-weight: bold;
	background: white;

} 

.link {
    display:inline-block;
    margin:0.5rem;
}

.linkcontainer {
    list-style-type:none;
}
.linkcontainerDiv {
    overflow:hidden;
    text-overflow:ellipsis;
    width:80%;
    margin-left:10%;
}

.prev_next{
    display:none;
    margin-right: 2rem; 
    padding: 1.5em; 
    margin:0em
}

.selAll{
    float:right;
    margin-right:15.55%;
    font-size:13px;
    color:#50555a;

}

.tickbox{
    float:left;
    padding:20px;
    box-sizing:border-box;
}

.searchResults {
	margin-top: 1rem;
    margin-left:10%;
    text-align:left;
    list-style-type:none;
    overflow:hidden;
}

.searchResult {
    width:80%;
    float:left;
    padding:20px 20px;
    box-sizing:border-box;
}
.desc{
    font-size:1.4rem;
}

.preview {
    font-size:13px;
    color:#50555a;

}

.metadata{
    color:green;
    font-size:small;
    cursor:pointer;
}

/*Keeping the search box in the middle in the top of the screen*/
.button_box_top {
    position:relative;
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 2%;
	padding-top: 20px;
	padding-bottom: 4rem;
	background: white;
	overflow: visible;
}


.selectdiv {
    position:relative;
    display:inline;
}

select::-ms-expand {
    display:none;
}

.selectdiv:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;

    top: 0px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;

    position: absolute;
    pointer-events: none;
    z-index:0;
    
}

.selectdiv select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
      
    background:white;
    margin-right:0.5;
    border:0;
    font-size:13px;
    color:#50555a;
    display: inline-block;
    /*position: relative;*/
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 18px;
    padding-left: 12px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
    font-family: arial,sans-serif;
    width:186px;
    border: 1px solid #cccccc;
    overflow:hidden;
    text-overflow:ellipsis;
}

.advanceopts {
    background:white;
    border:0;
    margin-right:0.5;
    font-size:13px;
    color:#50555a;
    display: inline-block;
    /*position: relative;*/
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 18px;
    padding-left: 12px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
    font-family: arial,sans-serif;
    width:180px;
}

.advanceopts:hover {
	box-shadow: 0px 3px 0px #0000FF;
}

.advanceoptsText {
    background:white;
    margin-right:0.5;
    font-size:13px;
    color:#50555a;
    display: inline-block;
    /*position: relative;*/
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 18px;
    padding-left: 12px;
    line-height: 20px;
    cursor: default;
    white-space: nowrap;
    font-family: arial,sans-serif;
    width:70px;
    border: 1px solid #cccccc;
}

.advanceoptsInput {
    background:white;
    margin-right:0.5;
    font-size:13px;
    color:#50555a;
    display: inline-block;
    /*position: relative;*/
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 18px;
    padding-left: 12px;
    line-height: 20px;
    cursor: auto;
    white-space: nowrap;
    font-family: arial,sans-serif;
    width:100px;
    border: 1px solid #cccccc;
}

.betaversion {
    font-size: small;
    margin-bottom: 1rem;
}

.logo {
    margin-top: 0;
    margin-bottom: 3rem;
}


 
/* MODAL ADVANCED SEARCHBOX END*/

/*SEARCH HIT LIST STYLE BEGIN */



.srchbar {
    display:inline-block;
    width:25%;
    border-radius:25px;
    padding:1px 10px;
    margin-left:4rem;
}
.srchbtn {
    border: none;         /* Remove borders */
    color: grey;          /* White text */
    background: white;
    font-size: 16px;      /* Set a font size */
    cursor: pointer;      /* Mouse pointer on hover */
    border-radius: 50%;
    display:inline-block;
    margin:0;
    margin-left:-2.8rem;
}
.srchbtn:hover {
    background: #c5c5c5;
}

.sugg {
    display:block;
    position:absolute;
    left:38%;
    top:2.2rem;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.sugg a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
}

.sugg a:hover {
    background-color: #ddd;
    cursor: pointer;
}

