html {
    margin:0;
}

body {
    margin:0;
    font-family: arial,sans-serif;
    width: 100%;
}

.topnav {
	top:0;
	left:0;
	width: 100%;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	display: flex;
	padding: 0;
	margin: 0;
	background-color: #C8C6C5;
	color: black;
	overflow: visible;
	border-bottom: 1px solid black;
	z-index: 4;
}

.classifiedContent {
    display: none;
}


/* Style the links inside the navigation bar */
.topnav a,.topnav .topnav-right-in .topnav-right-in a{
	float: left;
	color: black;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
	font-size: 0.9em;
}

/* Change the color of links on hover */
.topnav a:hover {
	transition: all 0.4s ease;
	background-color: #48A9DA;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #00618F;
	color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right-in {
    float: right;
    display: none;
    align-items: center;
    margin-left: auto;
}

.topnav-right-out {
    float: right;
    display: none;
    margin-left: auto;
}

.topnav-right-in input{
    margin: 0.4rem 0.4rem;
}

.topnav-right-in span {
	color: black;
	font-size: 1.05em;
	text-align: center;
}

.topnav .dropdown {
    position: relative;
    left: 0;
    display: inline-block;
}

.topnav .dropdown .dropdown-content {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: #C8C6C5;
}

.topnav .dropdown:hover .dropdown-content {
    display: block;
}

.topnav .dropdown:hover {
    background-color: #48A9DA;
}

.topnav .dropdown .dropdown-banner {
    padding-left: 1.45em;
    padding-right: 1.45em;
}
.topnav .dropdown .dropdown-content a {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 1em 0em;
    border-top: 1px solid black;
}

.loginform {
    display: flex;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin: 0;
}

form.loginform input {
    margin: 0.4rem 0.4rem;
}

form.loginform input.emailinput {
    margin-right: 0;
}

form.loginform input.passwordinput {
    margin-left: 0.2rem;
}

.loginbutton {
    width: 6rem;
}

.loader {
  border: 6px solid grey; /* Light grey */
  border-top: 6px solid blue; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0.4rem;
  width: 2rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  height: 2rem;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*.breadcrumb li{
    display: inline;
}

.breadcrumb li+li::before{
    content: " -> ";
}*/

ol.breadcrumb li.booktitle {
    text-overflow: ellipsis;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
}


article.main {
    margin-left: 5rem;
    margin-right: 10rem;
}

article.main ol {
    text-transform: capitalize;
}
