.topnav {
	top:0;
	left:0;
	width: 100%;
	position: sticky;
	padding: 0;
	margin: 0;
	background-color: #C8C6C5;
	color: black;
	overflow: hidden;
	border-bottom: 1px solid black;
}

.classifiedContent {
    display: none;
}


/* Style the links inside the navigation bar */
.topnav a,.topnav .topnav-right-in .topnav-right-in a{
	float: left;
	color: black;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
	font-size: 0.8em;
}

/* Change the color of links on hover */
.topnav a:hover {
	transition: all 0.4s ease;
	background-color: #48A9DA;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #00618F;
	color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right-in {
	float: right;
    display: none;
}
.topnav-right-out {
	float: right;
    display: none;
}
.topnav-right-in button{
	box-sizing: border-box;
	padding: 0.4em 0.8em;
	margin: 0.5em 0.8em;
}

.topnav-right-in span {
	box-sizing: border-box;
	color: black;
	font-size: 1.2em;
	text-align: center;
	height: 100%;
}

.topnav-right-out form {
	box-sizing: border-box;
	vertical-align: center;
	padding: 0.4em 0.8em;
	margin: auto;
}
